<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Applications</servlet-name>
        <servlet-class>com.Application.Applications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetails</servlet-name>
        <servlet-class>com.Application.StudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.Application.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.Application.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Application_Status</servlet-name>
        <servlet-class>com.Application.Application_Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserApplication</servlet-name>
        <servlet-class>controller.ApplicationController</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>ApplicationDetails</servlet-name>
        <servlet-class>controller.ApplicationDetailsController</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>FileUploads</servlet-name>
        <servlet-class>controller.FileUploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>controller.EmailUtilityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Applications</servlet-name>
        <url-pattern>/Applications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetails</servlet-name>
        <url-pattern>/StudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Application_Status</servlet-name>
        <url-pattern>/Application_Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserApplication</servlet-name>
        <url-pattern>/UserApplications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationDetails</servlet-name>
        <url-pattern>/ApplicationDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploads</servlet-name>
        <url-pattern>/FileUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
